.fade-in-up {
  animation-name: fadeInUp;
  animation-duration: 0.8s;
  animation-fill-mode: both;
}
article:nth-child(1) {
  animation-delay: 0.1s;
}
article:nth-child(2) {
  animation-delay: 0.2s;
}
article:nth-child(3) {
  animation-delay: 0.3s;
}
article:nth-child(4) {
  animation-delay: 0.4s;
}
article:nth-child(5) {
  animation-delay: 0.5s;
}
article:nth-child(6) {
  animation-delay: 0.6s;
}
article:nth-child(7) {
  animation-delay: 0.7s;
}
article:nth-child(8) {
  animation-delay: 0.8s;
}
article:nth-child(9) {
  animation-delay: 0.9s;
}
article:nth-child(10) {
  animation-delay: 1s;
}
@-moz-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
